/* Fonts */

@font-face {
  font-family: "Young Serif";
  src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
  font-family: "Outfit";
  src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

/* Custom Properties */

:root {
  --clr-white: hsl(0, 0%, 100%);

  --clr-stone-100: hsl(30, 54%, 90%);
  --clr-stone-150: hsl(30, 18%, 87%);
  --clr-stone-600: hsl(30, 10%, 34%);
  --clr-stone-900: hsl(24, 5%, 18%);

  --clr-brown-800: hsl(14, 45%, 36%);

  --clr-rose-800: hsl(332, 51%, 32%);
  --clr-rose-50: hsl(330, 100%, 98%);

  --ff-serif: "Young Serif", serif;
  --ff-sans-serif: "Outfit", sans-serif;
}

/* Style Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Utility Classes */

.flow > * + * {
  margin-top: 1rem;
}

.flow--large > * + * {
  margin-top: 2rem;
}

/* Styling */

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 7.5rem 0;
  background: var(--clr-stone-100);
}

p,
li {
  line-height: 1.5em;
}

.recipe-card {
  font-family: var(--ff-sans-serif);
  background: var(--clr-white);
  color: var(--clr-stone-600);
}

.recipe-card .banner {
  padding-bottom: 2em;
}

.recipe-card .content {
  padding: 0 2em 2em 2em;
}

@media (min-width: 45rem) {
  .recipe-card {
    max-width: 45em;
    border-radius: 1em;
  }

  .recipe-card .banner {
    padding: 2em;
    border-radius: 3em;
  }
}

.recipe-card h1,
.recipe-card h2 {
  font-family: var(--ff-serif);
}

.recipe-card h1 {
  color: var(--clr-stone-900);
}

.recipe-card h2 {
  color: var(--clr-brown-800);
}

.recipe-card ul,
.recipe-card ol {
  padding-left: 1em;
}

.recipe-card li {
  padding-left: 1em;
}

.recipe-card li::marker {
  font-weight: bold;
  padding-left: 1em;
  color: var(--clr-brown-800);
}

.recipe-card hr {
  border: none;
  border-top: 1px solid var(--clr-stone-150);
}

.recipe-card .prep-time {
  background: var(--clr-rose-50);
  padding: 1.5em;
  border-radius: 1em;
}

.recipe-card .prep-time .h3 {
  font-family: var(--ff-sans-serif);
  font-size: 1.25em;
}

.recipe-card .prep-time .h3,
.recipe-card .prep-time li::marker {
  color: var(--clr-rose-800);
}

.recipe-card .nutrition-table {
  width: 100%;
}
.recipe-card .nutrition-table tr {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.recipe-card .nutrition-table tr + tr {
  border-top: 1px solid var(--clr-stone-150);
}

.recipe-card .nutrition-table td {
  width: 50%;
  padding-left: 1.5em;
}

.recipe-card .nutrition-table td strong {
  color: var(--clr-brown-800);
}
